@inherits LayoutComponentBase

@inject IJSRuntime JSRuntime
@inject NavigationManager NavigationManager

<div class="top-row ps-3 navbar" style="background-color: #171717; color: #fff;">
    <div class="container-fluid">
        <a class="navbar-brand" href="" style="color: #fff;">GOTCharacterApp</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu" style="border-color: #fff;">
            <span class="navbar-toggler-icon" style="background-color: #fff;"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass nav-scrollable" @onclick="ToggleNavMenu" style="background-color: #171717;">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <a class="nav-link" href="javascript:void(0);" @onclick="NavigateToCharacters" style="color: #fff;">
                <span class="oi oi-home" aria-hidden="true"></span> All Characters
            </a>
        </div>
    </nav>
</div>
@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }

        private void NavigateToCharacters()
    {
        NavigationManager.NavigateTo("/characters");
    }
}
